body {
  background-color: black;
  color: yellow;
  font-family: 'Star Jedi', Arial, sans-serif;
}

.character-description {
  border: 2px solid yellow;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 0 10px yellow;
  text-align: center;
}

.character-description img {
  border: 2px solid yellow;
  box-shadow: 0 0 10px yellow;
  max-width: 100%;
  height: auto;
}

.character-description h2 {
  font-size: 2em;
  margin-bottom: 20px;
  text-shadow: 2px 2px 5px #ff0000;
}

.character-description p {
  font-size: 1.2em;
}

.character-description p strong {
  color: #ff0000;
}
