body {
  background-color: black;
  color: yellow;
  font-family: 'Star Jedi', Arial, sans-serif;
}

h1 {
  text-align: center;
  font-size: 3em;
  text-shadow: 2px 2px 5px #ff0000;
}

.loading,
.error {
  color: red;
  text-align: center;
  font-size: 2em;
  margin-top: 50px;
}

.character-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.character-menu a {
  color: yellow;
  font-size: 1.5em;
  margin: 10px 0;
  text-decoration: none;
}

.character-menu a:hover {
  color: #ff0000;
}

.char-desc {
  border: 2px solid yellow;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 0 10px yellow;
  text-align: center;
}

.char-desc h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.char-desc p {
  font-size: 1.2em;
}
